* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-white: #ffffff;
  --secondary-gray: #c0c0c0;
  --blue-button: #167bf7;
  --background-color: #00030c;
  --main-font: "Inter";
  --blue-button-effect: #5a151b;
}

body {
  background-color: var(--background-color);
  color: var(--primary-white);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
}

.main {
  background-image: url("assets/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
  margin: 1em 0 2em 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__button {
  background-color: var(--blue-button);
  border-radius: 5px;
  padding: 1em;
  color: var(--primary-white);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.secondary_button {
  background-color: transparent;
  border: 2px solid var(--primary-white);
}

.container_warning {
  font-size: 12px;
  color: var(--secondary-gray);
}

.container__title {
  font-size: 28px;
  font-weight: 700;
}

.container__box__img {
  margin: 1em 0 2em 0;
}

.container__box {
  margin: 0 6em;
}

.secondary {
  align-items: center;
  margin: 0 10em;
}

.secondary__image {
  width: 80%;
}

.container__description__title {
  font-weight: 700;
  font-size: 3em;
  color: var(--primary-white);
  margin-bottom: 0.1em;
}

.container__description__text {
  font-weight: 400;
  font-size: 1em;
  color: var(--secondary-gray);
}

.secondary__button {
  display: inline-block;
  margin-top: 1em;
}

.container__description {
  padding: 2em;
}

.devices {
  text-align: center;
}

.list_devices {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.list_item {
  font-size: 2em;
}

.footer {
     text-align: center;
     margin: 5em 3em;
}

.footer__logo {
     text-align: center;
     justify-content: center;
}

.footer-list {
     display: flex;
     list-style-type: none;
     text-decoration: none;
     justify-content: center;
     margin-top: 1em;
}

.list__link a{
     color: var(--primary-white);
     margin-left: 1em;
}

.footer__text {
     margin: 2em 0;
     color: var(--secondary-gray);
     font-size: 14px;
     text-align: center;
}

.list__link a:hover {
     color: var(--blue-button);
}

.list__link a:active {
     color: rgb(4, 51, 4);
}

.container__button:hover {
     background-color: var(--blue-button-effect);
     color: var(--background-color);
}